.button-script {
  background-color: #3498db; /* Azul */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Transição suave */
}

.button-script:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}